<h2>Hi Alex Peattie! Awesome, you've signed up</h2>

<h3> Select cohort </h3>
<form>
	<select name="month" form="cohort">
	  <option value="january">January</option>
	  <option value="february">February</option>
	  <option value="march">March</option>
	  <option value="april">April</option>
	</select>
	<a href="/students/dashboard"><input type="submit"></a>
</form>
