<h3> Select cohort </h3>
<%= form_tag student_path(current_student), method: :patch do %>
	<%= select("cohort","id", Cohort.all.collect {|cohort| [ cohort.name, cohort.id ] }) %>
	<%= submit_tag 'Submit' %>
<% end %>
