<div class="indent">
<h3> Select cohort </h3>
<% if @cohorts_list.count > 0 %>
  <%= form_tag student_path(current_student), method: :patch do %>
  <%= select "cohort", "id", @cohort_options, :include_blank => "Select a cohort" %>
  	<%= submit_tag 'Submit' %>
  <% end %>
<% else %>
  <div>Please see a teacher, a cohort needs to be created.</div>
<% end %>
</div>