<% unless current_teacher %> 
<%= link_to 'Create request', '/requests/new', class: 'btn btn-primary' %>
<% end %>

<ul id='example'>
</ul>

<div class="waitingList">
  <div class="curtain">
  </div>
  <div class="scroll">
    <ul>
      <% if @requests.any? %><% else %>
      <h1 class="NoRequests">No requests</h1><% end %>
    </ul>
  </div>
</div>
<br />

<template id="request">
  <li id="{{ request_id }}">
    <div class="waiting">
      <h3>{{ student_name }}</h3>
      <div class="position">{{ position }}</div>
      <p class="time">{{ time }}</p>
      <p class="category">{{ category }}</p>
      <div class="gravatar" style="background-image: url('{{gravatar_url}}');"></div>
      <div class="codeSnippet prettyprint"><pre class="prettyprint">{{ description }}</pre></div>
      <div class="solveTab">
        {{ #my_request }}
          <a href='{{ edit_url }}' class='btn btn-edit'>Edit</a> 
          <a class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" href="{{ delete_url }}" rel="nofollow">Delete</a>
        {{ /my_request }}
        {{ #current_teacher }}
        <a class='close' href='{{ solved_url }}' data-method='patch'>SOLVED</a>
        {{ /current_teacher }}
      </div>
    </div>
  </li>
</template>


<script>
  $(document).ready(function(){

    $('.waiting').on('click', '.close', function() {
      $(this).parent().parent().remove();
    })

  })

  $(function() {
    $('.waiting').click(function() {
      $(this).find('waitingOpen').slideToggle();
    });
  });

</script>
