  <% if @requests.any? %>
    <% @requests.each do |request| %>
            <h3><%= request.description %></h3>
            <%= request.category %>
            <p><%= request.created_at %></p>
     <% end %>
   <% else %>
    No requests
 <% end %>