<% unless current_teacher %> 
  <%= link_to 'Create request', '/requests/new', class: 'btn btn-primary' %>
<% end %>

<ul id='example'>
</ul>

<div class="waitingList">
  <div class="curtain">
  </div>
  <div class="scroll">
    <ul>
      <% if @requests.any? %><% else %><h3>No requests</h3><% end %>
    </ul>
  </div>
</div>
<br />

<template id="request">
  <li id="{{ request_id }}">
    <div class="waiting">
      <h3>{{ student_name }}</h3>
      <div class="position">{{ position }}</div>
      <p class="time">{{ time }}</p>
      <p class="category">{{ category }}</p>
      <div class="gravatar" style="background-image: url('{{gravatar_url}}');"></div>
      <div class="codeSnippet">{{ description }}</div>
      <div class="solveTab">
        {{ #my_request }}
          <a href='{{ edit_url }}' class='btn btn-edit'>Edit</a> 
          <a href='{{ delete_url }}' class='btn btn-danger' data-method='delete'>Delete</a> 
        {{ /my_request }}
        <a class='close' href='#'>SOLVED</a>
      </div>
    </div>
  </li>
</template>


<script>
  $(document).ready(function(){

    $('.waiting').on('click', '.close', function() {
      $(this).parent().parent().remove();
    })

  })

  $(function() {
    $('.waiting').click(function() {
      $(this).find('waitingOpen').slideToggle();
    });
  });

</script>
<script>
$('gravatar > img').prop('src',function() {
    return this.getAttribute('data-src');
}).removeAttr('data-src');
</script>
