<div class="indent">
	<h2>Approval Required</h2>
	<p>Unfortunately you still require approval from a Makers Academy teacher. Until this has been completed you will be unable to access any further material. If you feel you should already have access please see a teacher.</p>

	<p>Please refresh the page after being approved to be redirected to the dashboard</p>
</div>