<div class="border-form-div">
	<h2>Almost there..</h2>
	<p>Once a teacher approves your request, you'll be ready to go. Feel free to give them a poke!</p>

	<p>Once approved, refresh the page to be redirected to the dashboard</p>
</div>