<div class="indent">
	<h1>Approval Required</h1>
	<p>Unfortunately, you still require approval, until this has been completed, you will be unable to access anything further. If you feel you should already have access please see a teacher.</p>
</div>