/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap";

body
{
width: 100%;
margin: 0px;
padding: 0px;
background-color: #ecf0f1;
overflow-x: hidden;
}

form, a
{
margin-right: 20px;
}

h1
{
color: #ffffff;
font-size: 4em;
font-family: arial, helvetica, sans-serif;
margin-bottom: 15px;
margin-left: 0px;
}

h2
{
color: #e1e1e1;
font-size: 4em;
font-family: arial, helvetica, sans-serif;
margin: 20px 0px 0px 20px;
}

h3
{
color: #7b7b7b;
font-size: 1.5em;
font-family: arial, helvetica, sans-serif;
margin-top: 0px;
}

h3 a
{
color: #5e5e5e;
margin-left: 0px;
}

h3 a:hover
{
color: #ffffff;
text-decoration: none;
}

ul
{
list-style-type: none;
margin: 0px;
}

li
{
float: left;
}

input
{
margin-bottom: 20px;
}

.right
{
float: right;
}

.left
{
float: left;
}

.indent
{
margin-left: 20px;
}

.waitingList
{
width: 100%;
height: 280px;
padding-top: 20px;
background-color: #e6dfd6;
float: left;
overflow: auto;
}

.scroll
{
max-height: 160px;
margin-right: -30000px;
margin-left: -20px;
float: left;
}

.current
{
width: 150px;
height: 150px;
background-color: #c0392b;
margin-top: 20px;
margin-right: 20px;
border-radius: 5px;
border: solid #ffffff 5px;
float: left;
}

.current h1
{
margin-left: 60px;
}

.waiting
{
width: 250px;
height: 180px;
color: #ffffff;
background-color: #FFFFFF;
padding: 20px;
margin-right: 20px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
float: left;
z-index: 60;
}

.waitingOpen
{
width: 290px;
height: 180px;
color: #ffffff;
background-color: #FFFFFF;
padding: 20px;
margin-right: 20px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
float: left;
z-index: 60;
}

.waiting p
{
color: #7b7b7b;
}

.time
{
float: left;
margin-right: 15px;
font-size: 0.85em;
}

.category
{
float: left;
font-size: 0.85em;
}

.codeSnippet
{
width: 250px;
height: 100px;
font-size: 0.9em;
font-family: courier new, serif;
background-color: #464646;
padding-top: 12px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-top: 46px;
margin-left: -20px;
overflow-x: overflow;
overflow-y: scroll;
word-wrap: break-word;
}

.position
{
width: 40px;
height: 40px;
padding-top: 5px;
padding-left: 15px;
margin-top: -53px;
margin-right: -20px;
border-top-right-radius: 5px;
background-color: #a91d2a;
color: #ffffff;
font-size: 1.5em;
float: right;
}

button
{
margin-left: 20px;
padding: 10px;
}

.solveTab
{
height: 50px;
width: 250px;
padding-left: 10px;
background-color: #ffffff;
margin-top: -0px;
margin-left: -20px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index: 30;
}

.waiting .close
{
color: #000000;
position: relative;
text-decoration: none;
font-size: 16px;
font-family: arial, sans-serif;
margin-top: 18px;
}

.waiting .close:hover
{
color: #27ae60;
text-shadow: none;
opacity: 1;
}

.btn-primary
{
margin: 0px 20px 20px 20px;
background-color: #a91d2a;
border-color: #a91d2a;
}

.btn-primary:hover,
.btn-danger:hover
{
background-color: #7C151F;
border-color: #7C151F;
}

.btn-danger
{
margin-top: 8px;
margin-right: 5px;
margin-bottom: 20px;
background-color: #a91d2a;
border-color: #a91d2a;
}

.btn-edit
{
margin-top: 8px;
margin-right: 5px;
margin-bottom: 20px;
color: #ffffff;
background-color: #007cac;
}

.btn-edit:hover
{
color: #ffffff;
background-color: #006288;
}

.container-fluid
{
margin-right: auto;
margin-left: auto;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
height: 74px;
}

.navbar-brand
{
margin-right: 20px;
}

.navbar-brand img
{
width: 40px;
height: 40px;
padding: 0px;
margin-top: -10px;
margin-right: 20px;
margin-left: 5px;
overflow: hidden;
}

.signInPage
{
width: 100%;
height: 1250px;
background-image: image-url("blurred.jpg");
padding-top: 50px;
}

.col-md-6
{
width: 50%;
margin-top: 100px;
}

.col-md-6 h1
{
font-size: 3em;
margin-top: 100px;
}

.col-md-6 h3
{
display: inline;
}

.col-md-9 h3,
.col-md-9 h4,
.col-md-9 form,
.col-md-9 table,
.col-md-9 a,
{
	margin-top: 20px;
	margin-left: 20px;
}

.mainLogo
{
width: 300px;
height: 300px;
margin-right: auto;
margin-left: auto;
}

.mainLogo img
{
width: 300px;
height: 300px;
overflow: hidden;
margin-top: 30px;
}

.gravatar, .gravatar img
{
width: 40px;
height: 40px;
border-bottom-left-radius: 5px;
float: right;
margin-top: -7px;
margin-right: -10px;
}


.btn-group-vertical > .btn:first-child:not(:last-child)
{
border-top-right-radius: 4px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
margin-left: 0px;
}

.scroll ul li:first-child .waiting
{
width: 260px;
height: 249px;
position: fixed;
color: #ffffff;
background-color: #FFFFFF;
padding: 20px;
margin-top: -5px;
margin-right: 200px;
border: solid 5px #a91d2a;
border-radius: 11px;
float: left;
z-index: 60;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.scroll ul li:nth-child(2) .waiting
{
width: 250px;
height: 180px;
color: #ffffff;
background-color: #FFFFFF;
padding: 20px;
margin-right: 20px;
margin-left: 280px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
float: left;
z-index: 30;
}

.curtain
{
width: 20px;
height: 250px;
background-color: #e6dfd6;
position: fixed;
float: left;
z-index: 100;
}

